/* 
    Created on : 27 avr. 2017, 23:10:42
    Author     : elisabeth
*/

/* Le corps */
body {
    background-color: whitesmoke;
    color: black;
    margin: 5pt;
    line-height: 2.5em;
    font-size: 1.2em;
}

h1 {
    display: block;
    background-color: #69698c;
    color: aliceblue;
    position: static;
    top: 0pt;
    left: 5pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}

footer {
    display:block;
    background-color: #21dbea;
    text-align: right;
}

h2 {
    color: #005090;
    margin-left: 10pt;
}

